# Environment Variable Configuration Template
PORT=8080

# Configure username and password for HTTP Basic Authentication gate.
# Leave blank or un-set for local development without authentication.
AUTH_USER=gdg
AUTH_PASS=cloud2026
